
<div class="input-group mb-3">
    <input type="text" class="form-control" 
    placeholder="Search Server" @bind-value="serverFilter"
    @bind-value:event="oninput" />
    <button class="btn btn-outline-secondary" 
    type="button" id="button-search" @onclick="HandleSearch">Search</button>
</div>

@code {


    [Parameter]
    public EventCallback<string> SearchBarCallback { get; set; }

    public void ClearFilter()
    {
        this.serverFilter = string.Empty;
    }
    private string serverFilter = "";

    private void HandleSearch()
    {
        SearchBarCallback.InvokeAsync(serverFilter);
    }

}
